@import "reset";
@import "mixins";
@import "varables";
#blocks {
  width: 100%;
  background: rgba(0, 0, 0, 0.91);
  .blocks {
    &--title {
display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
  .blocks {
    &--vector {
display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 40px;
    }
  }
}